<header>
    <nav class="navbar">
        <ul>
            <li><a href="" title="">Le côté lumineux</a></li>
            <li><a href="" title="">Le côté obscur</a></li> 
            <li><a href="" title="">L'empire</a></li>
            <li><a href="" title="">Les droïdes</a></li> 
            <li><a href="" title="">Les ewoks</a></li>
            <li><a href="" title="">Jabba le hutt</a></li>
        </ul>
        <button class="mobile close"></button>
    </nav>
    <button class="mobile menu"></button>
</header>
