{% extends "layouts/default.twig" %}

{% block content %}    
 
    <div class="content">
        <section class="banner bg_stars">
            <img src="assets/images/header-bg.png" class="center" alt="Star wars">
            <img src="assets/images/logo.png" class="absolute" alt="">
        </section>
        <section class="intro"> 
            <h2>Star Wars, The Force Awakens</h2>
            <div data-sticky-container>
                <div>
                    <p>
                        Plus de 30 ans après la bataille d'Endor, la galaxie n'en a pas fini avec la tyrannie et l’oppression. Les membres de l'Alliance rebelle, devenus la « Résistance », combattent les vestiges de l'Empire réunis sous la bannière du « Premier Ordre ». 
                    </p>
                    <p>
                        Un mystérieux guerrier, Kylo Ren, semble vouer un culte à Dark Vador et pourchasse les ennemis du Premier Ordre à travers la galaxie. Au même moment, une jeune femme nommée Rey, pilleuse d'épaves sur la planète désertique Jakku, va faire la rencontre de Finn, un Stormtrooper en fuite, une rencontre qui bouleversera sa vie.
                    </p>
                    <p> 
                        Plus de 30 ans après la bataille d'Endor, la galaxie n'en a pas fini avec la tyrannie et l’oppression. Les membres de l'Alliance rebelle, devenus la « Résistance », combattent les vestiges de l'Empire réunis sous la bannière du « Premier Ordre ». 
                    </p>
                    <p>
                        Un mystérieux guerrier, <a href="" class="link">Kylo Ren</a>, semble vouer un culte à Dark Vador et pourchasse les ennemis du Premier Ordre à travers la galaxie. Au même moment, une jeune femme nommée Rey, pilleuse d'épaves sur la planète désertique Jakku, va faire la rencontre de Finn, un <a href="" class="link">Stormtrooper</a> en fuite, une rencontre qui bouleversera sa vie.
                    </p>
                    <p>
                        Plus de 30 ans après la bataille d'Endor, la galaxie n'en a pas fini avec la tyrannie et l’oppression. Les membres de l'Alliance rebelle, devenus la « Résistance », combattent les vestiges de l'Empire réunis sous la bannière du « Premier Ordre ». 
                    </p>
                    <p>
                        Un mystérieux guerrier, Kylo Ren, semble vouer un culte à Dark Vador et pourchasse les ennemis du Premier Ordre à travers la galaxie. Au même moment, une jeune femme nommée Rey, pilleuse d'épaves sur la planète désertique Jakku, va faire la rencontre de Finn, un Stormtrooper en fuite, une rencontre qui bouleversera sa vie.
                    </p> 
                </div>
                <div class="encart-pub">
                    <img src="assets/images/ad.jpg" data-sticky data-margin-top="60" class="selector" alt="Publicité 300x600">
                </div>
            </div>
        </section>
        <section class="banner">
            <img src="assets/images/kiloren.jpg" class="parallax" srcset="assets/images/kiloren-2x.jpg 2x" alt="Kiloren">
        </section>
        <section class="resume">
            <h3>A long time ago, in a galaxy far, far away…</h3>
            <img src="assets/images/r2d2_c3p0.jpg" srcset="assets/images/r2d2_c3p0-2x.jpg 2x" alt="R2D2 et C3P0">
            <div>
                <p>
                    <strong><em>La Guerre des étoiles</em></strong> (titre original <strong><em>Star Wars</em></strong>, soit littéralement <em>Guerres Stellaires</em> ) est une épopée cinématographique de science-fiction créée par George Lucas, considérée comme un élément phare du space opera. Prévue à la base pour être une suite de trois trilogies (triptyque), Lucas fut contraint, par manque de moyens techniques, de commencer par la seconde trilogie (<strong><em>l'Épisode IV - Un nouvel espoir</em></strong>) en 1977. La série connut un succès phénoménal partout dans le monde et engendra une très importante communauté de fans. 
                    Sans prétendre expliquer le succès du premier film (s'il y avait une recette, cela se saurait), on peut, toutefois, noter que, malgré le manque de moyens (le budget était relativement modeste, les acteurs presque inconnus) :
                </p>
                <ul>
                    <li>- Il fait appel à des références connues et appréciées des jeunes de l'époque : films de cape et d'épée, westerns, péplums, contes de fées et même le <strong><em>Seigneur des Anneaux</em></strong> de J.R.R. Tolkien ; cette œuvre n'apparaît pas comme de la science-fiction au sens strict mais plutôt comme du space fantasy.</li>
                    <li>- Les effets spéciaux, supervisés par Ken Ralston, étaient réellement novateurs, avec notamment la participation de John Dykstra (qui a également participé au premier film de <strong><em>Star Trek</em></strong>), qui avait développé une nouvelle manière d'animer les maquettes des vaisseaux en coordonnant leurs mouvements par ordinateur (Dykstraflex).</li>
                    <li>- Le film a développé un univers cohérent, avec, comme préoccupation constante, autant la création d'une ambiance que l'action proprement dite.</li>
                    <li>- La musique, composée par John Williams, introduit des thèmes récurrents et des leitmotivs (procédé classique mais renforçant la cohérence).</li>
                </ul>
            </div>
        </section>
        <section class="banner">
            <img src="assets/images/stormtroopers.jpg" class="parallax" srcset="assets/images/stormtroopers-2x.jpg 2x" alt="advice">
        </section>
    </div> 
{% endblock %}
