.banner{
  width: 100%;
  background-color: grey;
  overflow: hidden;
  text-align: center;
  position: relative;
  &.bg_stars{
    background: url(../../assets/images/header-bg.png) no-repeat;
    background-size: cover;
    height: 100vh;
  }
  img{
    width: 100%;
    display: block;
    &.absolute{
      max-width: 860px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}